:root {
  --font-sans: "Inter", sans-serif;
  --text-primary: hsla(200, 70%, 95%, 1);
  --bg-primary: green;
  --bg-primary-hover: green;
  --bg-primary-focus: green;
}

body {
  font-family: var(--font-sans);
  color: #333;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: var(--bg-primary);
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
}

p {
  line-height: 150%;
  font-size: 1.2rem;
}

textarea {
  font-family: var(--font-sans);
}

.person-photo {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 80px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 960px;
  font-size: small;
}

.contact.container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0;
  margin-right: 280px;
  align-content: space-between;
}

.logo {
  font-family: "Anybody", sans-serif;
}

.navigation {
  font-size: 20px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-weight: 700;
  text-align: center;
  justify-content: flex-end;
}

.section-heading {
  text-align: center;
}

.brand-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 3rem;
  justify-content: center;
}



.socials {
  font-size: 16px;
  gap: 20px;
}

.contact-form {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.contact-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-form,
.contact-form label,
.contact-form input,
.contact-form textarea {
  font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.button {
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-weight: marker;
  font-size: 1.2rem;
  transition: 0.25s all ease-in-out;
}

.button:hover {
  background: var(--bg-primary-hover);
}

.button:focus {
  background: var(--bg-primary-focus);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}

.flex-container {
  display: flex;
  background-color: white;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  border-image-width: 50px;
}

.marker {
  color: blue;
}

.person-name {
  font-size: 40px;
}

.navigation2{
  font-size: 15px;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-weight: 700;
  text-align: center;
  margin-left: 270px;
  margin-top: -130px;


}

.bgskills {
  background-color: black;
  color: white;
  width: 70px;
  height: 20px;
  border: 10px solid black;
  text-align: center;
  border-radius: 25px;
}
  


.h1{
  width: 639px;
  height: 77px;
  font-size: 30px;
  margin-left: 350px; 
  color : black;
}

img {
  width: 400px;
  object-fit: contain;
}

.logo {
  width: 150px;
  height: 80px;
  margin-left: 380px;
  margin-top: -300px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 30px 0;
  font-size: 20px;
}

.navigation-list2 {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 700;
  text-align: left;
  justify-content: flex-end;
}

.copyright {
  font-size: 16px;
  font-weight: 700;
  margin-left: 180px;
}

.question {
  font-size: small;
}

.navigation-list-socialmedia {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
}

.logo-socialmedia{
  width: 25px;
  height: 25px;
}


.cont-about {
  text-align: center;
}

.photo-cover-about{
  width: 900px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
}

.logo-indopips {
    width: 150px;
    height: 80px;
    margin-left: 250px;
  margin-right: 250px;
}

.about-text {
  text-align: left;
  margin-top: 100px;
  margin-left: 350px;
  margin-right: 350px;
}

.about-text2{
  text-align: left;
  margin-top: 50px;
}

.h2-title {
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}

.input-wrapper {
  gap: 30px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;

}

.form-input { padding: 15px 20px; }

.form-field {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  height: 120px;
}

.button {
  border-radius: 4px;
  border: none;
  background: green;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.25s all ease-in-out;
  margin-right: 200px;
}

.submit {
  justify-content: right;
}









